<div class="page-header">
  <h2>Accounts List</h2>
</div>

<div class="row">
  <div class="span9">
    <table class="table table-bordered" id="accounts_list">
       <thead>
        <tr>
          <th>Account</th>
          <th>Plan</th>
          <th>Phone Number</th>
          <th>Fee</th>
          <th>&nbsp;</th>
        <tr>
      </thead>
      <tbody>
        <% @accounts.each do |account|%>
        <tr>
          <td><%= account.email%></td>
          <td><%= [account.service.name, number_to_currency(account.service.price_include_gst)].join('  ') if account.service %></td>
          <td><%= (account.phone_numbers.collect{|ph| display_phone_number_in_phone_usage(ph.phone_number,ph.primary_phone_number)}.join('<br/>')).html_safe if account.phone_numbers%></td>
          <td><%= number_to_currency(account.base_fee) %></td>
          <td>
           <div class="btn-group">
             <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i> Setting <span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><%= link_to "View account info", overview_accounts_url(:id=>account.id)%></li>
	          <li><%= link_to "Edit account details", edit_account_admin_url(:id=>account.id)%></li>
           	  <li><%= link_to "Manage credits", account_credit_admin_url(:id=>account.id)%></li>
            	  <li><%= link_to "recalculate phone usage cost", calculate_phone_call_cost_and_duration_admin_url(:id=>account.id)%></li>
                </ul>
            </div>
          </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script>
$(document).ready(function()
	{
		$("#accounts_list").tablesorter();
	}
);
</script>
	
