<div class="page-header">
  <h2>Edit billing credit: <%= @edit_account.email%></h2>
</div>
<div class="row">
<%= form_tag(update_credit_admin_url, {:class=>'form-horizontal'}) %>
  <div class="control-group">
    <%= label_tag :billing_period_list, 'Billing Period:', :class=>'control-label' %>
    <div class="controls">
      <%= select 'billing','period_list',
        billing_period_list,{:selected => params[:billing_period]},
        {:name=>'billing_period',:disabled=>true}
    %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag :billing_credit, 'Credit:', :class=>'control-label' %>
    <div class="controls"><%= text_field :billing, :credit, :value=>@billing_credit.amount %></div>
  </div>

  <div class="signin-btn">
    <%= submit_tag "Save", :class=>'btn btn-primary' %>
  </div>
</form>
</div>
