<div class="page-header">
  <h2>Edit Account Info</h2>
</div>
<div class="row">
<%= form_tag(update_account_admin_url, {:class=>'form-horizontal'}) %>
  <div class="control-group">
    <%= label_tag :user_email, 'Account:', :class=>'control-label' %>
    <div class="controls"><%= text_field :user, :email, :value=>@edit_account.email %></div>
  </div>
  <div class="control-group">
    <%= label_tag :user_plan, 'Service Plan:', :class=>'control-label' %>
    <% service_list = Service.all.collect{ |s| ["#{s.name} #{number_to_currency(s.price_include_gst)}",s.id]}%>
    <div class="controls"><%= select :user, :plan, service_list,:selected=>@edit_account.service.id %></div>
  </div>
  <div class="control-group">
    <%= label_tag :user_fee, 'Service Fee:', :class=>'control-label' %>
    <div class="controls"><%= text_field :user, :fee, :value=>@edit_account.base_fee||@edit_account.service.price_include_gst %></div>
  </div>
  <div class="control-group">
    <%= label_tag :user_phone_number_1, 'Phone Number(s):', :class=>'control-label' %>
    <div class="controls">
      <% @edit_account.phone_numbers.each do |phone|%>
        <% if phone.primary_phone_number.present? %>
          <%= phone.primary_phone_number %> Ext:<%= phone.phone_number %>
        <% else %> 
          <%= phone.phone_number %>
        <% end %> 
	
        <div class="btn-group">
          <button class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i> Options <span class="caret"></span></button>
              <ul class="dropdown-menu">
	        <li><%= link_to "Edit", edit_phone_number_admin_url(phone.id)%></li>
                <li><%= link_to "Delete", destroy_phone_number_admin_url(phone.id), :method=>:delete%></li> 
              </ul>
         </div>
        <br/>
      <% end %>
      <%= link_to "Add Another Phone Number", add_phone_number_admin_url(:user_id => @edit_account.id), :class=>'btn'%>
    </div>
  </div>

  <div class="signin-btn">
    <%= submit_tag "Save", :class=>'btn btn-primary' %>
  </div>
</form>
</div>
