<div class="row">
  <div class="span4">
    <%= render :partial => 'billing_period.html'%>
    <h3>Download Invoice: </h3>
    <p><%= image_tag 'pdf-icon.jpg'%>
    <%= link_to 'Download Invoice', overview_accounts_url(:format => :pdf),:class=>"btn btn-primary" %></p>
  </div>
  <div class="span5">
    <p><h3>&nbsp;<%= @account.service.name%></h3></p>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td><h4>Plan Charges</h4></td>
          <td class="right-aligned"><h4><%= number_to_currency @account.service.price_include_gst%></h4></td>
        </tr>
        <% phone_call_cost = 0 %>
        <% @account.phone_numbers.each do |p|%>
          <tr>
            <td><span class="muted">Phone Number &nbsp;&nbsp;&nbsp;&nbsp;<%= "#{p.phone_number}"%></span></td>
            <td class="right-aligned muted">
              <%= number_to_currency PhoneUsage.total_cost(p.phone_number,session[:billing_period])%>
            </td>
          </tr>
          <%phone_call_cost += PhoneUsage.total_cost(p.phone_number,session[:billing_period])%>
        <% end %>
        <tr>
          <td><span class="muted">Internet Charges</span></td>
          <td class="right-aligned muted"><%= number_to_currency 0%></td>
        </tr>
        <tr>
          <td><span class="muted">credit description</span></td>
          <td class="right-aligned muted"><%= '$100.00' %> (CR)
            <% if current_user.is_admin? %>
              <%= link_to "Edit", '#', :class=>'btn btn-danger btn-mini' %>
              <%= link_to "Delete", '#', :class=> 'btn btn-danger btn-mini'%>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><h3>Total Charges:</h3></td>
          <td class="right-aligned"><h3><%= number_to_currency @account.service.price_include_gst + phone_call_cost%></h3> 
            <span class="muted">includes GST</span></td>
        </tr>

        <% if current_user.is_admin? %>
          <tr>
            <td>&nbsp;</td>
            <td class="right-aligned">
              <%= link_to "Add Credit", '#', :class=>'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
