  <div class="row">
    <div class="span4">
      <p><h4>Phone Number: <%= phone_number %></h4></p>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th></th>
          <th class="right-aligned">Quantity</th>
          <th class="right-aligned">Cost</th>
        </tr>
        <tr>
          <th>Auckland:</th>
          <td class="right-aligned"><%= PhoneUsage.total_quantity(phone_number,session[:billing_period],1)%></td>
          <td class="right-aligned"><%=number_to_currency PhoneUsage.total_cost_by_category(phone_number,session[:billing_period],1)%></td>
        </tr>
        <tr>
          <th>National:</th>
          <td class="right-aligned"><%= PhoneUsage.total_quantity(phone_number,session[:billing_period],2)%></td>
          <td class="right-aligned"><%=number_to_currency PhoneUsage.total_cost_by_category(phone_number,session[:billing_period],2)%></td>
        </tr>
        <tr>
          <th>Mobile:</th>
          <td class="right-aligned"><%= PhoneUsage.total_quantity(phone_number,session[:billing_period],3)%></td>
          <td class="right-aligned"><%=number_to_currency PhoneUsage.total_cost_by_category(phone_number,session[:billing_period],3)%></td>
        </tr>
        <tr>
          <th>China:</th>
          <td class="right-aligned"><%= PhoneUsage.total_quantity(phone_number,session[:billing_period],4)%></td>
          <td class="right-aligned"><%=number_to_currency PhoneUsage.total_cost_by_category(phone_number,session[:billing_period],4)%></td>
        </tr>
        <tr>
          <th>Tollfree:</th>
          <td class="right-aligned"><%= PhoneUsage.total_quantity(phone_number,session[:billing_period],5)%></td>
          <td class="right-aligned">$0.00 </td>
        </tr>
        <tr>
          <th colspan="2" class="right-aligned">Subtotal:</th>
          <th class="right-aligned"><%=number_to_currency PhoneUsage.total_cost(phone_number,session[:billing_period])%></th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
      <%= render :partial => 'high_chart_for_phone.html.erb',
                 :locals => {:phone_number => phone_number}
      %>
    </div>
  </div>
