<div class="row">
  <div class="span4">
    <%= render :partial => 'billing_period'%>
    <h3>Download Invoice: </h3>
    <p><%= image_tag 'pdf-icon.jpg'%>
    <%= link_to "Download Invoice", "#",:class=>"btn btn-primary" %></p>
  </div>
  <div class="span5">
    <p><h3><%= current_user.service.name%></h3></p>
    <table class="table table-condensed">
      <tbody>
        <tr>
          <td><h4>Plan Charges</h4></td>
          <td class="right-aligned"><h4><%= number_to_currency current_user.service.price_include_gst%></h4></td>
        </tr>
        <% phone_call_cost = 0 %>
        <% current_user.phone_numbers.each do |p|%>
          <tr>
            <td><span class="muted">Phone Number &nbsp;&nbsp;&nbsp;&nbsp;<%= "#{p.phone_number}"%></span></td>
            <td class="right-aligned muted">
              <%= number_to_currency PhoneUsage.total_cost(p.phone_number,session[:billing_period])%>
            </td>
          </tr>
          <%phone_call_cost += PhoneUsage.total_cost(p.phone_number,session[:billing_period])%>
        <% end %>
        <tr>
          <td><span class="muted">Internet Charges</span></td>
          <td class="right-aligned muted"><%= number_to_currency 0%></td>
        </tr>
        <tr>
          <td><h3>Total Charges:</h3></td>
          <td class="right-aligned"><h3><%= number_to_currency current_user.service.price_include_gst + phone_call_cost%></h3> 
            <span class="muted">includes GST</span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
