  <div class="row">
    <div class="span4">
      <p><h4>Phone Number: <%= phone_number %></h4></p>
      <table class="table table-bordered">
        <tbody>
        <tr>
          <th>Total Duration:</th>
          <td><% duration = PhoneUsage.total_duration(phone_number,session[:billing_period])%>
            <%= seconds_to_hours(duration)%></td>
        </tr>
        <tr>
          <th>Auckland:</th>
          <td><%= seconds_to_hours(PhoneUsage.total_duration(phone_number,session[:billing_period],1))%></td>
        </tr>
        <tr>
          <th>National:</th>
          <td><%= seconds_to_hours(PhoneUsage.total_duration(phone_number,session[:billing_period],2))%></td>
        </tr>
        <tr>
          <th>Mobile:</th>
          <td><%= seconds_to_hours(PhoneUsage.total_duration(phone_number,session[:billing_period],3))%></td>
        </tr>
        <tr>
          <th>China:</th>
          <td><%= seconds_to_hours(PhoneUsage.total_duration(phone_number,session[:billing_period],4))%></td>
        </tr>
        <tr>
          <th>Tollfree:</th>
          <td><%= seconds_to_hours(PhoneUsage.total_duration(phone_number,session[:billing_period],5))%></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="span5">
      <%= render :partial => 'high_chart_for_phone',
                 :locals => {:phone_number => phone_number}
      %>
    </div>
  </div>
