  <div class="page-header">
    <h2>Internet Usage</h2>
  </div>
  <div class="row">
    <div class="span4">
      <%= render :partial => 'billing_period'%>
    </div>
    <div class="span5">
      <%= render :partial => 'high_chart_for_internet',
                 :locals => {:billing_period => session[:billing_period]}
      %>
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Date</th>
            <th>Data Downloaded</th>
            <th>Data Uploaded</th>
            <th>Total</th>
          <tr>
          <% @transactions.each do |tran|%>
          <tr>
            <td><%= tran.date.strftime("%d %b %Y")%></td>
            <td><%= number_to_human_size(tran.data_downloaded) %></td>
            <td><%= number_to_human_size(tran.data_uploaded) %></td>
            <td><%= number_to_human_size(tran.data_uploaded + tran.data_downloaded) %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
    </div>
  </div>
